.card-content-control0 {
  height: 82px;
}

.card-content-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-content-columns {
  display: flex;
  justify-content: flex-start;
}

paper-checkbox {
  font-size: 13px !important;
}

paper-checkbox > #checkboxLabel {
  font-size: 13px;
  color: #424242;
}

paper-slider {
  width: 100%;
}

.card-content-middle {
  height: 200px;
  position: relative;
  justify-content: center;
  display: flex;
}

.card-content-bottom {
  display: flex;
  flex-flow: column;
}

.control-title {
  color: #424242;
  font-size: 16px;
  padding-top: 8px;
}

.card-fullscreen-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.card-fullscreen-icon iron-icon {
  height: 25px;
  width:  25px;
}
