* {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #424242;
}

paper-header-panel{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.content {
  padding:0px;
  margin: 0px;
  width:  100%;
  height: 100%;
  display:   flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  background: #eeeeee;
}

paper-material {
  height:    400px;
  min-width: 390px;
  max-width: 390px;
  margin:    9px;
  background-color: #fff;
}

paper-toolbar {
  min-height: 280px;
  max-height: 280px;
  /*background: white !important;*/
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

paper-toolbar #middleBar .middle {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
}

.widget-title {
  display: flex;
  margin-bottom: 5px;
}

.widget-title-text {
  font-size: 20px;
  font-weight: 300;
}

.widget-title-icon {
  margin-left: 5px;
}
