.quality-content .title-quality {
  font-size:  20px;
  font-weight: 300;
}

.quality-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #424242;
  width: 200px;
}

.quality-content-viz {
  height: 140px;
  width:  140px;
}

.quality-content-viz .progress-meter text{
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 54px;
  font-weight: 100;
  color: #424242;
}

.quality-content-viz .progress-meter  .subtext-quality {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 12px;
  font-weight: 900;
}

.widget-subtitle {
  position: relative;
  display: flex;
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 16px;
  color: #9F9F9F;
}

.quality-knob {
  color:  #424242  !important;
  font-size: 58px  !important;
  margin-top:30px  !important;
  height: auto !important;
}
