.quality-content .title-quality {
  font-size: 20px;
  font-weight: 300;
}

.quality-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #424242;
  width: 200px;
}

#prediction-quality-viz {
  height: 165px;
  width:  165px;
}

#prediction-quality-viz .progress-meter text{
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 62px;
  font-weight: 100;
  color: #424242;
}

#prediction-quality-viz .progress-meter  .subtext-quality {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 15px;
  font-weight: 900;
}
