<template name="qualitywidget">
  <div class="quality-content">
    <div class="quality-content-viz">
      <progress-bubble class="quality-bubble" value="{{quality}}" max="100">
        <div class="progress-title">{{quality}}</div>
        <div class="progress-subtitle">Cases</div>
      </progress-bubble>
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Prediction Quality</div>
      <iron-icon class="widget-title-icon" icon="icons:info"></iron-icon>
    </div>
    <div class="widget-subtitle">Trustworthy</div>
  </div>
</template>
