<template name="coursefactors">
  <paper-material class="card-content courseskill-paper">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Habilidades por Curso
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Sin Influencia en la predicción
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">
        <canvas id="cf-chart" width="350" height="300"></canvas>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control">
          <div class="control-title">Cursos</div>
          <div class="horizontal-section">
            {{#each sessionCourses}}
            <paper-checkbox value="{{code}}" class="cf-checkbox  animated fadeIn" checked>{{name}}</paper-checkbox>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </paper-material>
</template>
