<template name="riskwidget">
  <div class="risk-content">
    <div class="risk-content-viz">

      <progress-bubble class="risk-bubble animated fadeIn" value="{{risk.number}}">
        <div class="risk-progress-bubble">
          <div class="progress-title">{{risk.number}}<div style="font-size: 15px; display:inline; color:#c6c6c6;">%</div></div>
          <div class="progress-subtitle">{{risk.text}}</div>
        </div>
      </progress-bubble>
      {{#unless loading}}
      {{/unless}}
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Probabilidad de Éxito</div>
      <iron-icon class="widget-title-icon risk-info" icon="icons:info"></iron-icon>
    </div>
    {{#if loading}}
    <paper-spinner-lite style="position: absolute; bottom:50%; right: 43%;" class="rw-spinner pink" active></paper-spinner-lite>
    {{/if}}
    <div class="help-info" style="border-radius: 5px;">
      <iron-icon class="close-info" icon="icons:clear"></iron-icon>
      <div class="help-info-container">
        <div class="help-text">
          Teniendo en cuenta los <u>cursos seleccionados</u> y la <u>historia académica</u> del estudiante y estudiantes previos, calcula un valor que estima la posibilidad de éxito <u>{{risk.number}}%</u>.
        </div>
      </div>
    </div>
  </div>
</template>
