<template name="riskwidget">
  <div class="risk-content">
    <div class="risk-content-viz">
      <progress-bubble class="risk-bubble" value="{{risk}}">
        <div class="progress-title">{{risk}}<div style="font-size: 15px; display:inline; color:#c6c6c6;">%</div></div>
        <div class="progress-subtitle">{{riskText}}</div>
        <div style="display: none">{{riskColor}}</div>
      </progress-bubble>
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Probabilidad de Éxito</div>
      <iron-icon class="widget-title-icon risk-info" icon="icons:info"></iron-icon>
    </div>
    <!-- <div class="risk-slider slider-tray">
      <div class="risk-knob" style="left:{{riskKnob}}px"></div>
    </div> -->
    <div class="help-info animated flipInX">
      <iron-icon class="close-info" icon="icons:clear"></iron-icon>
      <div class="help-text">
        Dados los cursos seleccionados y el historial académico del estudiante,
        se presenta un valor que representa la probabilidad de éxito.
      </div>
    </div>
  </div>
</template>
