.risk-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #424242;
  width: 200px;
  position: relative;
}

.risk-content-viz {
  height: 140px;
  width:  140px;
  display: flex;
  position: relative;
}

.risk-content-viz .progress-meter text{
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 54px;
  font-weight: 100;
  color: #424242;
}

.risk-content-viz .progress-meter .subtext-risk {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 12px;
  font-weight: 900;
}

.risk-content .risk-slider {
  position: relative;
  display: flex;
}

.slider-tray {
  width: 100%;
  height: 20px;
  border-radius: 7px;
  background: linear-gradient(to right, #e74c3c 0%, #e74c3c 20%, #e67e22 20%, #e67e22 40%, #f1c40f 40%, #f1c40f 60%, #27ae60 60%, #27ae60 80%, #25a085 80%, #25a085 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c3c', endColorstr='#25a085',GradientType=1 );
}

.toolbar-tools.paper-toolbar {
  position: relative;
  height: 100px;
  /* padding: 0 16px; */
  pointer-events: none;
}

.risk-bubble #svgCircle {
  /*stroke: #eceff1 !important;*/
  stroke-width: 12px !important;
  transition: stroke-dashoffset 2000ms;
}

.risk-bubble #bgCircle {
  stroke: #eceff1 !important;
  stroke-width: 14px !important;
}

#progressArc {
  overflow: inherit;
}

.risk-bubble {
  color:  #424242;
  width:  120px;
  height: 120px;
  text-shadow: none;
  font-size:   42px;
  background: none !important;
}

.risk-knob {
  width: 10px;
  height:10px;
  /*background: #eceff1;*/
  background: #fff;
  border-radius: 50%;
  /*box-shadow: 2px 2px 5px rgba(66, 66, 66, 0.5);*/
  position: absolute;
  top: 6px;
  transition: left 2s;
}

.help-info {
  height: 100%;
  width:  100%;
  background: rgba(66, 66, 66, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  flex-flow: column;
  z-index: 1;
}

.help-info-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width:  100%;
}

.help-info iron-icon.iron-icon-0 {
  fill: white;
}

.help-text {
  /*max-width: 80%;
  max-height:80%;*/
  background: rgba(66, 66, 66, 0.75);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 2%;
  /* font-weight: 300; */
  margin: 5%;
  text-align: center;
}

.close-info {
  position: absolute;
  top:   1%;
  right: 1%;
  cursor: pointer;
  z-index: 100;
}

.risk-progress-bubble {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Roboto', Helvetica, Arial;
  color: #424242;
  position: absolute;
  top: 20%;
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
