<template name="qualitywidget">
  <div class="quality-content">
    <div class="quality-content-viz">
      <progress-bubble class="quality-bubble" value="{{quality}}" max="100">
        <div class="progress-title">{{quality}}<div style="font-size: 15px; display:inline; color:#c6c6c6;">%</div></div>
        <div class="progress-subtitle">{{qualityText}}</div>
      </progress-bubble>
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Calidad de Predicción</div>
      <iron-icon class="widget-title-icon quality-info" icon="icons:info"></iron-icon>
    </div>
    <!-- <div class="widget-subtitle">{{qualityText}}</div> -->
    <div class="help-info animated flipInX">
      <iron-icon class="close-info" icon="icons:clear"></iron-icon>
      <div class="help-text">
        Muestra la calidad de la predicción, valores altos indican que la predicción es confiable.
      </div>
    </div>
  </div>
</template>
