<template name="aspectswidget">
  <div class="aspects-content">
    <h1  class="title-aspects">Strongest Aspects</h1>
    <div class="aspects-wrapper">
      <div class="aspects-bar"></div>
      <div style="width: 10px"></div>
      <div class="aspects-list">
        <div class="aspect"><div class="aspect-bullet">1</div><div class="aspect-text">Course Overview</div></div>
        <div class="aspect"><div class="aspect-bullet">2</div><div class="aspect-text">Students Grades</div></div>
        <div class="aspect"><div class="aspect-bullet">3</div><div class="aspect-text">Historial Data</div></div>
        <div class="aspect"><div class="aspect-bullet">4</div><div class="aspect-text">Students Factors</div></div>
        <div class="aspect"><div class="aspect-bullet">5</div><div class="aspect-text">Course Factors</div></div>
      </div>
    </div>
  </div>
</template>
