<template name="aspectswidget">
  <div class="aspects-content">
    <div class="aspects-wrapper">
      <div class="aspects-bar"></div>
      <div style="width: 10px"></div>

      <div class="aspects-list">
        <div class="aspect courses-aspect animated fadeIn">
          <div class="aspect-bullet">1</div>
          <div class="aspect-text">Course Overview</div>
          <paper-ripple></paper-ripple>
        </div>
        {{#if gradesOn}}
        <div class="aspect grades-aspect animated fadeIn">
          <div class="aspect-bullet">2</div>
          <div class="aspect-text">Students Grades</div>
          <paper-ripple></paper-ripple>
        </div>
        {{else}}
        <div class="aspect grades-aspect animated fadeIn">
          <div class="aspect-bullet" style="opacity: 0.15">2</div>
          <div class="aspect-text"   style="opacity: 0.15">Students Grades</div>
          <paper-ripple></paper-ripple>
        </div>
        {{/if}}

        {{#if historyOn}}
        <div class="aspect history-aspect animated fadeIn">
          <div class="aspect-bullet">3</div>
          <div class="aspect-text">Historical Data</div>
          <paper-ripple></paper-ripple>
        </div>
        {{else}}
        <div class="aspect history-aspect animated fadeIn">
          <div class="aspect-bullet" style="opacity: 0.15">3</div>
          <div class="aspect-text"   style="opacity: 0.15">Historical Data</div>
          <paper-ripple></paper-ripple>
        </div>
        {{/if}}
        <!-- <div class="aspect">
          <div class="aspect-bullet">4</div>
          <div class="aspect-text">Students Factors</div>
          <paper-ripple></paper-ripple>
        </div>
        <div class="aspect">
          <div class="aspect-bullet">5</div>
          <div class="aspect-text">Course Factors</div>
          <paper-ripple></paper-ripple>
        </div> -->
      </div>
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Strongest Aspects</div>
      <iron-icon class="widget-title-icon" icon="icons:info"></iron-icon>
    </div>
  </div>
</template>
