<template name="socialfactors">
  <paper-material class="card-content socialfactors-paper">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Social Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">No influence</div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle sf-chart">
        <div class="sf-stacked-bar"></div>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control">
          <div class="control-title">Factors</div>
          <div class="horizontal-section">
            <paper-checkbox checked>Gender</paper-checkbox>
            <paper-checkbox checked>Nationality</paper-checkbox>
            <paper-checkbox checked>Marital Status</paper-checkbox>
            <paper-checkbox checked>Scholarship</paper-checkbox>
          </div>
        </div>
        <div class="card-content-control">
          {{#if sessionCourses}}
          <div class="control-title">Courses</div>
          {{/if}}
          <div class="horizontal-section">
            {{#each sessionCourses}}
            <paper-checkbox class="cf-checkbox animated fadeIn" checked>{{name}}</paper-checkbox>
            {{/each}}
          </div>
          <!-- <div class="control-title">Compliance: <div class="control-subtitle">{{compliance}}</div></div>
          <paper-slider class="gc-paper-slider" pin snaps max="5" step="1" value="5"></paper-slider> -->
        </div>
        <!-- <div class="card-fullscreen-icon">
        <iron-icon icon="icons:fullscreen"></iron-icon>
      </div> -->
    </div>
  </div>
</paper-material>
</template>
