<template name="socialfactors">
  <paper-material class="card-content socialfactors-paper">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Social Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle"></div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button disabled="true"></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle"></div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control-title"></div>
          <div class="card-content-columns">
            <div class="card-content-column"></div>
            <div class="card-content-column"></div>
            <div class="card-content-column"></div>
          </div>
        </div>
        <!-- <div class="card-content-control1">
        <div class="control-title">Compliance: <div class="control-subtitle">{{compliance}}</div></div>
        <paper-slider class="gc-paper-slider" pin snaps max="5" step="1" value="5"></paper-slider>
      </div> -->
      <div class="card-fullscreen-icon">
        <iron-icon icon="icons:fullscreen"></iron-icon>
      </div>
    </div>
  </div>
</paper-material>
</template>
