.sf-chart {
  height: 200px !important;
  display: flex;
  flex-direction: row;
  width: 100% !important;
  justify-content: space-around !important;
  border-bottom: 1px solid #eeeeee;
}

.sf-stacked-bar {
  height: 100%;
  width: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.sf-bar {
  height: 100px;
  font-size: 12px;
}
.bar-top {
  border-radius: 2px 2px 0px 0px;
}
.gender .bar-bottom { background: #0b4bba; }
.gender .bar-top { background: #387cf3; }

.marital .bar-bottom { background: #3fbcad; }
.marital .bar-top { background: #89d8ce; }

.nationality .bar-bottom { background: #5466e3; }
.nationality .bar-top    { background: #acb4f1; }

.scholarship .bar-bottom { background: #3090f3; }
.scholarship .bar-top { background: #90c4f9; }

.sf-bar-legend {
  position: absolute;
  font-size: 12px;
  display: flex;
  align-self: center;
  color: #424242;
}
