<template name="socialfactors">
  <paper-material class="card-content socialfactors-paper">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Social Factors
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">No influence</div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle sf-chart">
        <div class="sf-stacked-bar gender">
          <div class="sf-bar bar-top">Female</div>
          <div class="sf-bar bar-bottom">Male</div>
          <div class="sf-bar-legend">Gender</div>
          <paper-ripple></paper-ripple>
        </div>
        <div class="sf-stacked-bar marital">
          <div class="sf-bar bar-top">Single</div>
          <div class="sf-bar bar-bottom">Married</div>
          <div class="sf-bar-legend">Marital Status</div>
          <paper-ripple></paper-ripple>
        </div>
        <div class="sf-stacked-bar nationality">
          <div class="sf-bar bar-top">Local</div>
          <div class="sf-bar bar-bottom">Foreigner</div>
          <div class="sf-bar-legend">Nationality</div>
          <paper-ripple></paper-ripple>
        </div>
        <div class="sf-stacked-bar scholarship">
          <div class="sf-bar bar-top">Si</div>
          <div class="sf-bar bar-bottom">No</div>
          <div class="sf-bar-legend">Beca</div>
          <paper-ripple></paper-ripple>
        </div>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control">
        </div>
        <div class="card-content-control" style="margin-top: 20px;">
          {{#if sessionCourses}}
          <div class="control-title">Courses</div>
          {{/if}}
          <div class="horizontal-section">
            {{#each sessionCourses}}
            <paper-checkbox class="cf-checkbox animated fadeIn" checked>{{name}}</paper-checkbox>
            {{/each}}
          </div>
          <!-- <div class="control-title">Compliance: <div class="control-subtitle">{{compliance}}</div></div>
          <paper-slider class="gc-paper-slider" pin snaps max="5" step="1" value="5"></paper-slider> -->
        </div>
        <!-- <div class="card-fullscreen-icon">
        <iron-icon icon="icons:fullscreen"></iron-icon>
      </div> -->
    </div>
  </div>
</paper-material>
</template>
