.cc-chart-container {
  height: 100%;
  width:  100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.cc-nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  flex-direction: column;
  color: #a5a5a5;
  width:  100%;
  height: 100%;
}

.cc-nothing-add {
  text-decoration: underline;
  color: #a3456b;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.cc-course {
  display: flex;
  flex:1;
  padding: 2px;
  flex-direction: column;
  max-width: 100px;
  cursor: pointer;
  position: relative;
}

.cc-squares {
  background: #fafafa;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 2px 2px 0  0;
}

.cc-square {
  background: #b25d7e;
  max-width:  45px;
  min-width:  45px;
  height:     100%;
  border-radius: 2px 2px 0 0;
  position: relative;
}

.cc-course:hover {
  background: #fafafa;
  border-radius: 2px 2px 0  0;
}

.cc-hline {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 25px;
  margin-left: 2px;
  margin-right: 2px;
  background: #e0e0e0;
  left: 0;
}

.cc-vline {
  height: 97%;
  width: 2px;
  position: absolute;
  bottom: 0;
  border-left: 1px solid #e0e0e0;
  border-top:  1px solid #e0e0e0;
  left: 2px;
}

.cc-vline-title {
  font: 10px sans-serif;
  position: absolute;
  top: 19px;
  left: -12px;
  transform: rotate(-90deg);
}

.cc-meta {
  text-align: center;
  flex-direction: column;
  font-size: 12px;
  min-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cc-name {
  font-size: 10px;
  color: #424242;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cc-id {
  font-size: 9px;
  color: #9F9F9F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cc-badge {
  left: 15px !important;
  top: -17px !important;
}

.cc-badge > #badge {
  background: none !important;
  color: #424242 !important;
}
