<template name="coursescard">
  <paper-material class="card-content coursescard-paper">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Courses Overview
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Strong Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:settings"></iron-icon>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">
        <div class="cc-chart-container">
          {{#if sessionCourses}}
          <div class="cc-vline">
            <div class="cc-vline-title">Students</div>
          </div>
          <div class="cc-hline"></div>
          {{else}}
          <div class="cc-nothing animated fadeIn">
            <div class="cc-nothing-message">No Courses to Show</div>
            <div class="cc-nothing-add">Add Courses</div>
          </div>
          {{/if}}

          {{#each sessionCourses}}
          <div class="cc-course animated fadeIn">
            <div class="cc-squares">
              <div class="cc-square" style="height:{{percent}}%">
                <paper-badge class="cc-badge" label="{{students}}"></paper-badge>
                <paper-ripple></paper-ripple>
              </div>
              <paper-ripple style="color: #eeeeee;"></paper-ripple>
            </div>
            <div class="cc-meta">
              <div class="cc-name">{{{name}}}</div>
              <div class="cc-id  ">{{{_id}}}</div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control0-course-details">
            <div class="control-title">Course Details</div>
            <div class="course-details-content">
              {{#if sessionCourses}}
              <div>
                <div class="course-details course-details-name">
                  <div class="detail-title">Name:&nbsp;</div>
                  <div class="detail-sub">{{selectedCourse.name}}</div>
                </div>
                <div class="course-details course-details-id">
                  <div class="detail-title">ID:&nbsp;</div>
                  <div class="detail-sub">{{selectedCourse._id}}</div>
                </div>
              </div>
              <div>
                <div class="course-details course-details-students">
                  <div class="detail-title animated fadeIn">Students:&nbsp;</div>
                  <div class="detail-sub animated fadeIn">{{selectedCourse.students}}</div>
                </div>
                <div class="course-details course-details-difficulty">
                  <div class="detail-title">Difficulty:&nbsp;</div>
                  <div class="detail-sub">Easy</div>
                </div>
              </div>
              {{else}}
                No Selected Courses
              {{/if}}
            </div>
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance: <div class="control-subtitle">{{compliance}}</div></div>
          <paper-slider class="cc-paper-slider" pin snaps max="5" step="1" value="5"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
    </div>
    <div class="settings-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Settings
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle-tool">
            <paper-input label="Search for a Course" id="search-box">
              <iron-icon icon="search" prefix></iron-icon>
              <!-- <paper-icon-button suffix class="clear-search" icon="clear" alt="clear" title="clear" tabindex="0" style="color: red;"></paper-icon-button> -->
            </paper-input>
            {{#if getCourses}}
            <div class="search-results">
              {{#each getCourses}}
              <div class="result-course" style="position: relative">
                <div class="result-name">{{{name}}}</div>
                <div class="result-desc">{{{_id}}}</div>
                <paper-ripple></paper-ripple>
              </div>
              {{/each}}
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      <!-- <div class="card-content-middle"></div> -->
      <div class="card-content-bottom">
        {{#if sessionCourses}}
        <div class="control-title">Selected Courses</div>
        <div class="selected-courses">
          {{#each sessionCourses}}
          <div class="selected-container animated fadeIn">
            <paper-checkbox class="selected-course" checked>
              <div id="checkboxLabel" class="selected-course-meta">
                <div class="course-name">{{name}}</div>
                <div class="course-id">{{_id}}</div>
              </div>
            </paper-checkbox>
            <iron-icon class="remove-selected-course" icon="icons:close"></iron-icon>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </paper-material>
</template>
