<template name="coursescard">
  <paper-material class="card-content coursescard-paper">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Semester Overview
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            Strong Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon class="settings-icon" icon="icons:settings"></iron-icon>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle cc-middle-content">
        {{#each hardCourses}}
        <div class="cc-course animated fadeIn" style="display: {{difficulty.display}}; border-left: 4px solid {{difficulty.color}};">
          <div class="cc-name">{{{name}}} <div class="cc-id">({{difficulty.text}} course)</div></div>
          <div class="cc-id">{{{_id}}} - {{{students}}} Students attended</div>
          <paper-ripple></paper-ripple>
        </div>
        {{/each}}
        {{#each easyCourses}}
        <div class="cc-course animated fadeIn" style="display: {{difficulty.display}}; border-left: 4px solid {{difficulty.color}};">
          <div class="cc-name">{{{name}}} <div class="cc-id">({{difficulty.text}} course)</div></div>
          <div class="cc-id">{{{_id}}} - {{{students}}} Students attended</div>
          <paper-ripple></paper-ripple>
        </div>
        {{/each}}
        <div class="cc-nothing-add">Add a Course</div>
      </div>
      <div class="number-courses">
        <div class="cc-number">{{numberCourses.number}}</div>
        &nbsp;{{numberCourses.text}}
      </div>
    </div>
    <!-- Settings panel  -->
    <div class="settings-content">
      <div class="card-content-top" style="margin-bottom: 0px;">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Settings
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle-tool">
            <paper-input label="Search for a Course" id="search-box">
              <iron-icon icon="search" prefix></iron-icon>
              <!-- <paper-icon-button suffix class="clear-search" icon="clear" alt="clear" title="clear" tabindex="0" style="color: red;"></paper-icon-button> -->
            </paper-input>
            {{#if getCourses}}
            <div class="search-results">
              {{#each getCourses}}
              <div class="result-course" style="position: relative">
                <div class="result-name">{{{name}}}</div>
                <div class="result-desc">{{{_id}}}</div>
                <paper-ripple></paper-ripple>
              </div>
              {{/each}}
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      <!-- <div class="card-content-middle"></div> -->
      <div class="card-content-bottom">
        {{#if sessionCourses}}
        <div class="control-title">Selected Courses</div>
        <div class="selected-courses">
          {{#each sessionCourses}}
          <div class="selected-container animated fadeIn">
            <div class="selected-course" checked>
              <div id="checkboxLabel" class="selected-course-meta">
                <div class="course-name">{{name}}</div>
                <div class="course-id">{{_id}}</div>
              </div>
            </div>
            <iron-icon class="remove-selected-course" icon="icons:close"></iron-icon>
            <paper-ripple></paper-ripple>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </paper-material>
</template>
