.cc-chart-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  max-width: 400px;
  flex-direction: column;
}

.cc-metadata {
  max-width: 130px;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
}

.cc-nothing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*background: #f6f6f6;*/
  flex-direction: column;
  color: #a5a5a5;
  width:  100%;
}

.cc-nothing-add {
  text-decoration: underline;
  color: #a3456b;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.cc-course {
  display: flex;
  /*padding: 2px;*/
  flex-direction: column;
  width: 100%;
  height: 45px;
  cursor: pointer;
  position: relative;
}

.cc-squares {
  /*background: #fafafa;*/
  width:  100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cc-square {
  /*background: #b25d7e;*/
  max-width:  5px;
  min-width:  5px;
  height:     100%;
  position: relative;
}

.cc-course:hover {
  background: #fafafa;
}

.cc-hline {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 25px;
  margin-left: 2px;
  margin-right: 2px;
  background: #e0e0e0;
  left: 0;
  z-index: 1;
}

.cc-vline {
  height: 97%;
  width: 2px;
  position: absolute;
  bottom: 0;
  border-left: 1px solid #e0e0e0;
  border-top:  1px solid #e0e0e0;
  left: 2px;
}

.cc-vline-title {
  font: 10px sans-serif;
  position: absolute;
  top: 19px;
  left: -12px;
  transform: rotate(-90deg);
}

.cc-meta {
  text-align: center;
  flex-direction: column;
  font-size: 12px;
  min-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cc-name {
  font-size: 12px;
  color: #424242;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

.cc-id {
  font-size: 11px;
  color: #9F9F9F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cc-badge {
  left: 15px !important;
  top: -17px !important;
}

.cc-badge > #badge {
  background: none !important;
  color: #424242 !important;
}

.number-courses {
  font-size: 18px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: gray;
  display: flex;
  align-items: flex-end;
}

.cc-number {
  color: #424242;
}
