.settings-content {
  display: none;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100%;
  flex-direction: column;
  padding-left: 15px;
}
.settings-content paper-input {
  width: 80%;
}

/****** ************ ******/
/****** Search Input ******/
/****** ************ ******/
.search-results {
  position: absolute;
  top: 100px;
  left: 30px;
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.45);
  padding: 5px;
  border-radius: 5px;
  color: #424242;
  width: 80%;
  display:none;
  z-index: 1;
}

.search-results .result-course {
  background: #f2f2f2;
  padding: 7px;
  margin-top: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.result-course paper-ripple {
  color: #d9aebf;
}

.search-results .result-course:hover {
  background: #c07a95;
  color: white !important;
  cursor: pointer;
}

.search-results .result-name { font-size: 12px; }
.search-results .result-desc { font-size: 10px; opacity: 0.6;}
.search-results .result-desc b {color: #202020;}
.search-results .result-name:hover { cursor: pointer; }
.search-results .result-desc:hover { cursor: pointer; }
.search-results .result-desc b:hover { cursor: pointer; }

/****** ****************  ******/
/****** Selected Courses ******/
/****** **************** ******/
.selected-courses {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  align-items: center;
}

.selected-course:hover {
  background: #f7f7f7;
}
.selected-course .course-name {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.selected-course .course-id {
  font-size: 10px;
  opacity: 0.8;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.selected-course-meta {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  color: #424242;
}

.selected-container {
  position: relative;
  display: flex;
  width: 90%;
}

.selected-course {
  padding: 3px;
  padding-left: 10px;
  align-self: center;
  width: 100%;
  background: #f2f2f2;
  border-radius: 3px;

  display: flex;
  background: #f2f2f2;
  margin-top: 1px;
  justify-content: flex-start;

  flex-direction: row;
  align-items: center;
  max-height: 35px;
  min-height: 35px;
  cursor: pointer;
  position: relative;
}

.selected-course > #checkboxLabel {
  /*width: 100%;*/
  opacity: 1 !important;
}

.selected-course > #checkboxContainer {
  min-width: 18px;
}

.remove-selected-course {
  position: absolute;
  right: 10px;
  top: 12px;
  fill: #b25d7e !important;
}

.unselected-course {
  background: none !imporant;
}
