<template name="coursescard">
  <paper-material class="card-content">
    <div class="card-content-top">
      <div class="card-content-top-text">
        <div class="card-title">
          <div class="card-title-text">
            Courses Overview
          </div>
          <iron-icon icon="icons:info"></iron-icon>
        </div>
        <div class="card-subtitle">
          Strong Influence
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon icon="icons:settings"></iron-icon>
      </div>
    </div>
  </paper-material>
</template>
