
.chart-content {
  min-width: 350px;
  max-width: 350px;
}
.card-content-top {
  width: 100%;
  position: relative;
  display:  flex;
  flex-flow:row;
  margin-bottom: 14px;
}

.card-content-top-text {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.card-title {
  display: flex;
  font-size: 32px;
  color: #424242;
}

.card-subtitle {
  font-size: 20px;
  color: #424242;
  opacity: 0.6;
}

.card-subtitle-tool {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.card-settings-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-settings-icon iron-icon {
  width:  30px !important;
  height: 30px !important;
  align-items: flex-end;
}

.card-settings-icon iron-icon > svg {
  margin-left: 5px;
  fill: #a3456b;
}

paper-toggle-button {
  margin-left: 5px;
}

paper-toggle-button > .toggle-label {
  display: none !important;
}

.control-subtitle {
  color: #8E8E8E;
  padding-left: 5px;
}

.control-title {
  display:  flex;
  color: #8E8E8E;
  padding-bottom: 5px;
}

.course-details-content {
  display: flex;
  padding: 2px;
  justify-content: space-around;
  background: #fafafa;
  border-radius: 2px;
  font-size: 12px;
  height: 44px;
}

.course-details {
  display: flex;
  padding: 2px;
}

.detail-title {
  color: #424242;
}

.detail-sub {
  color: #9F9F9F;
}
