.settings-content {
  display: none;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100%;
  flex-direction: column;
  padding-left: 15px;
}
.settings-content paper-input {
  width: 80%;
}
.chart-content {
  min-width: 350px;
  max-width: 350px;
}
.card-content-top {
  width: 100%;
  position: relative;
  display:  flex;
  flex-flow:row;
}

.card-content-top-text {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.card-title {
  display: flex;
  font-size: 32px;
  color: #424242;
}

.card-subtitle {
  font-size: 20px;
  color: #424242;
  opacity: 0.6;
}

.card-subtitle-tool {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.card-settings-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-settings-icon iron-icon {
  width:  30px !important;
  height: 30px !important;
  align-items: flex-end;
}

.card-settings-icon iron-icon > svg {
  margin-left: 5px;
  fill: #a3456b;
}

paper-toggle-button {
  margin-left: 5px;
}

paper-toggle-button > .toggle-label {
  display: none !important;
}

/****** ************ ******/
/****** Search Input ******/
/****** ************ ******/
.search-results {
  position: absolute;
  top: 100px;
  left: 30px;
  background: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.45);
  padding: 5px;
  border-radius: 5px;
  color: #424242;
  width: 80%;
  display:none;
  z-index: 1;
}

.search-results .result-course {
  background: #f2f2f2;
  padding: 7px;
  margin-top: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.result-course paper-ripple {
  color: #d9aebf;
}

.search-results .result-course:hover {
  background: #c07a95;
  color: white !important;
  cursor: pointer;
}

.search-results .result-name { font-size: 12px; }
.search-results .result-desc { font-size: 10px; opacity: 0.6;}
.search-results .result-desc b {color: #202020;}
.search-results .result-name:hover { cursor: pointer; }
.search-results .result-desc:hover { cursor: pointer; }
.search-results .result-desc b:hover { cursor: pointer; }

/****** **************** ******/
/****** Selected Courses ******/
/****** **************** ******/
.selected-courses {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  justify-content: space-between;
}
.selected-course {
  display: flex;
  background: #f2f2f2;
  margin-top: 2px;
  padding: 1px;
  border-radius: 3px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  /*max-width: 160px;
  min-width: 160px;*/
  width: 100%;
  max-height: 35px;
  min-height: 35px;
  cursor: pointer;
  position: relative;
}

.selected-course:hover {
  background: #f7f7f7;
}
.selected-course .course-name {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.selected-course .course-id {
  font-size: 10px;
  opacity: 0.6;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.selected-course-meta {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.selected-course-checkbox {
  padding: 0px;
  margin-left:  10px;
  align-self: center;
}

.remove-selected-course {
  position: absolute;
  right: 7px;
  top: 7px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 50%;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  margin-left: 5px;*/
}

.remove-selected-course > iron-icon {
  fill: #b25d7e;
}
