<template name="gradescard">
  <paper-material class="card-content gradescard-paper">
    <div class="chart-content gc-card-content animated fadeIn">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Calificaciones
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          {{#if isOn}}
          <div class="card-subtitle">
            Sin influencia en la predicción
          </div>
          {{/if}}
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button class="gc-toggle" checked></paper-toggle-button>
      </div>
      {{#if isOn}}
      <!-- Middle Content -->
      <div class="card-content-middle">
        {{#if isCourse}}
        <div class="sg-chart-container">
          <div class="sg-vertical-axis">
            <div class="sg-vertical-axis-title">Desempeño</div>
          </div>
          <div class="sg-horizontal-axis">
            <div class="sg-horizontal-axis-title">Estudiantes</div>
          </div>
          <svg height="200" width="350" style="overflow: inherit;">
            <line class="animated fadeIn" x1="20"  x2="20"  y1="5" y2="185" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="13" y="190" fill="#424242">1.0</text>
            <line class="animated fadeIn" x1="50"  x2="50"  y1="5" y2="185" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="44" y="190" fill="grey">2.5</text>
            <line class="animated fadeIn" x1="90" x2="90" y1="5" y2="185" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="85" y="190" fill="#424242">6.0</text>
            <line class="animated fadeIn" x1="125" x2="125" y1="5" y2="185" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="115" y="190" fill="grey">6.5</text>
            <line class="animated fadeIn" x1="155" x2="155" y1="5" y2="185" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="150" y="190" fill="#424242">7.0</text>
            <line class="animated fadeIn" x1="185" x2="185" y1="5" y2="185" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="178" y="190" fill="grey">7.5</text>
            <line class="animated fadeIn" x1="220" x2="220" y1="5" y2="185" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="213" y="190" fill="#424242">8.0</text>
            <line class="animated fadeIn" x1="255" x2="255" y1="5" y2="185" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="247" y="190" fill="grey">8.5</text>
            <line class="animated fadeIn" x1="286" x2="286" y1="5" y2="185" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="278" y="190" fill="#424242">9.0</text>
            <line class="animated fadeIn" x1="318" x2="318" y1="5" y2="185" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="312" y="190" fill="grey">9.5</text>
            <line class="animated fadeIn" x1="348" x2="348" y1="5" y2="185" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="342" y="190" fill="#424242">10</text>
            {{#each excellent}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-excellent animated fadeInLeft"></circle>
            {{/each}}
            {{#each good}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-good animated fadeInLeft"></circle>
            {{/each}}
            {{#each regular}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-regular animated fadeInLeft"></circle>
            {{/each}}
            {{#each lazy}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-lazy animated fadeInLeft"></circle>
            {{/each}}
            {{#each bad}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-bad animated fadeInLeft"></circle>
            {{/each}}
            {{#if thisStudent}}
            <line class="sg-this animated fadeIn" x1="20" x2="345" y1="{{thisStudent.performance}}" y2="{{thisStudent.performance}}" stroke="rgba(178, 93, 126, 0.65)" stroke-width="1"/>
            <line class="sg-this animated fadeIn" x1="{{thisStudent.gpa}}" x2="{{thisStudent.gpa}}" y1="0" y2="170" stroke="rgba(178, 93, 126, 0.65)" stroke-width="1"/>
            <circle cx="{{thisStudent.gpa}}"  cy="{{thisStudent.performance}}"  r="5" fill="#b25d7e" class="sg-this animated fadeIn"></circle>
            <!-- <text x="{{thisStudent.gpa}}" y="203" fill="#424242"></text> -->
            {{/if}}
          </svg>
        </div>
        {{else}}
        <div class="cc-nothing animated fadeIn">
          <div class="cc-nothing-message">No has seleccionado ningún curso.</div>
          <div class="cc-nothing-add"></div>
        </div>
        {{/if}}
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom" style="margin-top: 26px;">
        <div class="card-content-control">
          <div class="control-title">Calificaciones</div>
          <div class="card-content-columns">
            <div class="card-content-column">
              <paper-checkbox class="student-grades" checked>Este Estudiante</paper-checkbox>
              <paper-checkbox class="regular-grades" checked>Aceptable</paper-checkbox>
            </div>
            <div class="card-content-column">
              <paper-checkbox class="good-grades" checked>Buenos</paper-checkbox>
              <paper-checkbox class="lazy-grades" checked>Malos</paper-checkbox>
            </div>
            <div class="card-content-column">
              <paper-checkbox class="best-grades" checked>Muy Buenos</paper-checkbox>
              <paper-checkbox class="bad-grades"  checked>Muy Malos</paper-checkbox>
            </div>
          </div>
        </div>
    </div>
    {{else}}
    <div class="card-content-middle">
      <div class="cc-nothing animated fadeIn" style="background: none; height: 400px;">
        <div class="cc-nothing-message">Esta tarjeta está apagada.</div>
        <paper-spinner active></paper-spinner>
      </div>
    </div>
    {{/if}}
  </div>
</paper-material>
</template>
