
.card-title {
  display: flex;
  font-size: 28px;
  color: #424242;
}

.card-title-text {
  margin-right: 5px;
}

.card-subtitle {
  font-size: 18px;
  color: #424242;
  opacity: 0.6;
}

.good-grades > #checkboxContainer > #checkbox { border-color: #27AE60; }
.good-grades /deep/ .checked { background: #27AE60 !important; }

.best-grades > #checkboxContainer > #checkbox { border-color: #25A085; }
.best-grades /deep/ .checked { background: #25A085 !important; }

.bad-grades > #checkboxContainer > #checkbox { border-color: #E74C3C; }
.bad-grades /deep/ .checked { background: #E74C3C !important; }

.lazy-grades > #checkboxContainer > #checkbox { border-color: #E67D22; }
.lazy-grades /deep/ .checked { background: #E67D22 !important; }

.regular-grades > #checkboxContainer > #checkbox { border-color: #F0C30E; }
.regular-grades /deep/ .checked { background: #F0C30E !important; }
