<template name="gradescard">
  <paper-material class="card-content">
    <div class="card-content-top">
      <div class="card-content-top-text">
        <div class="card-title">
          <div class="card-title-text">
            Students Grades
          </div>
          <iron-icon icon="icons:info"></iron-icon>
        </div>
        <div class="card-subtitle">
          Weak Influence
        </div>
      </div>
      <div class="card-settings-icon">
        <iron-icon icon="icons:settings"></iron-icon>
        <paper-toggle-button checked></paper-toggle-button>
      </div>
    </div>
    <!-- Middle Content -->
    <div class="card-content-middle"></div>
    <!-- Bottom Content -->
    <div class="card-content-bottom">
      <div class="card-content-control0">
        <div class="control-title">Students</div>
        <div class="card-content-columns">
          <div>
            <paper-checkbox class="good-grades" checked>Good</paper-checkbox>
            <paper-checkbox class="bad-grades" checked>Bad</paper-checkbox>
          </div>
          <div>
            <paper-checkbox class="best-grades" checked>Excellent</paper-checkbox>
            <paper-checkbox class="lazy-grades" checked>Lazy</paper-checkbox>
          </div>
          <div>
            <paper-checkbox checked>This Student</paper-checkbox>
            <paper-checkbox class="regular-grades" checked>Regular</paper-checkbox>
          </div>
        </div>
      </div>
      <div class="card-content-control1">
        <div class="control-title">Compliance</div>
        <paper-slider pin value="20"></paper-slider>
      </div>
      <div class="card-fullscreen-icon">
        <iron-icon icon="icons:fullscreen"></iron-icon>
      </div>
    </div>
  </paper-material>
</template>
