<template name="gradescard">
  <paper-material class="card-content gradescard-paper">
    <div class="chart-content gc-card-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Students Grades
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          {{#if isOn}}
          <div class="card-subtitle">
            Weak Influence
          </div>
          {{/if}}
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button class="gc-toggle" checked></paper-toggle-button>
      </div>
      {{#if isOn}}
      <!-- Middle Content -->
      <div class="card-content-middle">
        {{#if isCourse}}
        <div class="sg-chart-container">
          <div class="sg-vertical-axis">
            <div class="sg-vertical-axis-title">Performance</div>
          </div>
          <div class="sg-horizontal-axis">
            <div class="sg-horizontal-axis-title">Grades</div>
          </div>
          <svg height="175" width="350" style="overflow: inherit;">
            <line class="animated fadeIn" x1="20"  x2="20"  y1="5" y2="175" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="18" y="180" fill="#424242">6</text>
            <line class="animated fadeIn" x1="60"  x2="60"  y1="5" y2="175" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="54" y="180" fill="grey">6.5</text>
            <line class="animated fadeIn" x1="100" x2="100" y1="5" y2="175" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="98" y="180" fill="#424242">7</text>
            <line class="animated fadeIn" x1="140" x2="140" y1="5" y2="175" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="134" y="180" fill="grey">7.5</text>
            <line class="animated fadeIn" x1="180" x2="180" y1="5" y2="175" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="178" y="180" fill="#424242">8</text>
            <line class="animated fadeIn" x1="220" x2="220" y1="5" y2="175" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="214" y="180" fill="grey">8.5</text>
            <line class="animated fadeIn" x1="260" x2="260" y1="5" y2="175" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="258" y="180" fill="#424242">9</text>
            <line class="animated fadeIn" x1="300" x2="300" y1="5" y2="175" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="294" y="180" fill="grey">9.5</text>
            <line class="animated fadeIn" x1="340" x2="340" y1="5" y2="175" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
            <text x="334" y="180" fill="#424242">10</text>
            {{#each excellent}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-excellent animated fadeInLeft"></circle>
            {{/each}}
            {{#each good}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-good animated fadeInLeft"></circle>
            {{/each}}
            {{#each regular}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-regular animated fadeInLeft"></circle>
            {{/each}}
            {{#each lazy}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-lazy animated fadeInLeft"></circle>
            {{/each}}
            {{#each bad}}
            <circle cx="{{grade}}"  cy="{{performance}}"  r="4" fill="{{gp}}" class="{{course}} sg-bad animated fadeInLeft"></circle>
            {{/each}}
            {{#if thisStudent}}
            <line class="sg-this animated fadeIn" x1="20" x2="345" y1="{{thisStudent.performance}}" y2="{{thisStudent.performance}}" stroke="rgba(178, 93, 126, 0.65)" stroke-width="1"/>
            <line class="sg-this animated fadeIn" x1="{{thisStudent.gpa}}" x2="{{thisStudent.gpa}}" y1="0" y2="170" stroke="rgba(178, 93, 126, 0.65)" stroke-width="1"/>
            <circle cx="{{thisStudent.gpa}}"  cy="{{thisStudent.performance}}"  r="5" fill="#b25d7e" class="sg-this animated fadeIn"></circle>
            <!-- <text x="{{thisStudent.gpa}}" y="203" fill="#424242"></text> -->
            {{/if}}
          </svg>
        </div>
        {{else}}
        <div class="cc-nothing animated fadeIn">
          <div class="cc-nothing-message">You haven't selected any courses</div>
          <div class="cc-nothing-add"></div>
        </div>
        {{/if}}
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control-title">Students</div>
          <div class="card-content-columns">
            <div>
              <paper-checkbox class="good-grades" checked>Good</paper-checkbox>
              <paper-checkbox class="bad-grades" checked>Bad</paper-checkbox>
            </div>
            <div>
              <paper-checkbox class="best-grades" checked>Excellent</paper-checkbox>
              <paper-checkbox class="lazy-grades" checked>Lazy</paper-checkbox>
            </div>
            <div>
              <paper-checkbox class="student-grades" checked>This Student</paper-checkbox>
              <paper-checkbox class="regular-grades" checked>Regular</paper-checkbox>
            </div>
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance: <div class="control-subtitle">{{compliance}}</div></div>
          <paper-slider class="gc-paper-slider" pin snaps max="5" step="1" value="5"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
      {{else}}
      <div class="card-content-middle">
        <div class="cc-nothing animated fadeIn" style="background: none; height: 400px;">
          <div class="cc-nothing-message">This Card is Turned Off</div>
        </div>
      </div>
      {{/if}}
    </div>
  </paper-material>
</template>
