.top-ribbon {
  border-bottom: 1px solid #EAEAEA;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: #9f9f9f;
  font-size: 14px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  cursor: pointer;
}

.top-ribbon span {
  color: #424242;
  text-decoration: underline;
  cursor: pointer;
}

.ribbon-title {
  width: 100%;
  padding-left: 14px;
  bottom: 0;
  position: absolute;
  border-top: 1px solid #EAEAEA;
}
