<template name="aspectswidget">
  <div class="aspects-content">
    <div class="aspects-wrapper">
      <!-- <div class="aspects-bar"></div> -->
      <div style="width: 10px"></div>
      <div class="aspects-list">
        <div>
          <div class="aspect missing-aspect animated fadeIn">
            <div class="aspect-bullet">1</div>
            <div class="aspect-text">Datos del Estudiante</div>
            <paper-ripple></paper-ripple>
          </div>
          {{#if gradesOn}}
          <div class="aspect courses-aspect animated fadeIn">
            <div class="aspect-bullet">2</div>
            <div class="aspect-text">Semestre Planeado</div>
            <paper-ripple></paper-ripple>
          </div>
          {{else}}
          <div class="aspect courses-aspect animated fadeIn">
            <div class="aspect-bullet" style="opacity: 0.15">2</div>
            <div class="aspect-text"   style="opacity: 0.15">Semestre Planeado</div>
            <paper-ripple></paper-ripple>
          </div>
          {{/if}}

          {{#if historyOn}}
          <div class="aspect grades-aspect animated fadeIn">
            <div class="aspect-bullet">3</div>
            <div class="aspect-text">Calificaciones</div>
            <paper-ripple></paper-ripple>
          </div>
          {{else}}
          <div class="aspect grades-aspect animated fadeIn">
            <div class="aspect-bullet" style="opacity: 0.15">3</div>
            <div class="aspect-text"   style="opacity: 0.15">Calificaciones</div>
            <paper-ripple></paper-ripple>
          </div>
          {{/if}}
        </div>

        <div>
          <div class="aspect history-aspect animated fadeIn">
            <div class="aspect-bullet">4</div>
            <div class="aspect-text">Registros Históricos</div>
            <paper-ripple></paper-ripple>
          </div>

          <div class="aspect courseskill-aspect animated fadeIn">
            <div class="aspect-bullet">5</div>
            <div class="aspect-text">Habilidades por Curso</div>
            <paper-ripple></paper-ripple>
          </div>
          
          <div class="aspect studentskill-aspect animated fadeIn">
            <div class="aspect-bullet">6</div>
            <div class="aspect-text">Habilidades por Estudiante</div>
            <paper-ripple></paper-ripple>
          </div>
          <!-- <div class="aspect">
          <div class="aspect-bullet">7</div>
          <div class="aspect-text">Social Factors</div>
          <paper-ripple></paper-ripple>
        </div> -->
      </div>
    </div>
  </div>
  <div class="widget-title">
    <div class="widget-title-text">Aspectos de Predicción</div>
    <iron-icon class="widget-title-icon aspects-info" icon="icons:info"></iron-icon>
  </div>
  <div class="help-info animated flipInX">
    <iron-icon class="close-info" icon="icons:clear"></iron-icon>
    <div class="help-text">
      Muestra de manera ordenada los aspectos que afectan el cálculo de la predicción.
    </div>
  </div>
</div>
</template>
