<template name="studentfactors">
  <paper-material class="card-content">
    <div class="chart-content">
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Student Skills
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">
            No Influence
          </div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button checked></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle">
        <canvas id="sf-chart" width="275" height="275"></canvas>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control">
          <div class="control-title">Students</div>
          <div class="horizontal-section">
            <paper-checkbox class="sf-student animated fadeIn" checked>This Student </paper-checkbox>
            <paper-checkbox class="sf-similar animated fadeIn" checked>Similar Students</paper-checkbox>
          </div>
        </div>
      </div>
    </div>
  </paper-material>
</template>
