<template name="studentfactors">
  <paper-material class="card-content studentskills-paper" track="studentskills.maincontainer">
    <div class="chart-content" track="studentskills.maincontainer">
      <div class="card-content-top" track="studentskills">
        <div class="card-content-top-text" track="studentskills.topcontent">
          <div class="card-title" track="studentskills.topcontent.title">
            <div class="card-title-text" track="studentskills.topcontent.title">
              Habilidades Estudiantes
            </div>
            <iron-icon class="card-info" icon="icons:info" track="studentskills.topcontent.infoicon"></iron-icon>
          </div>
          <div class="card-subtitle" track="studentskills.topcontent.subtitle">
            <!-- No Influence in Prediction -->
          </div>
        </div>
      </div>
      <div class="card-settings-icon" track="studentskills.topcontent.togglebutton">
        <paper-toggle-button class="sf-toggle" checked track="studentskills.topcontent.togglebutton"></paper-toggle-button>
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle" track="studentskills.middlecontent">
        <canvas class="studentskillschart" id="sf-chart" width="350" height="300" track="studentskills.middlecontent.canvas"></canvas>
      </div>
      <div class="cf-nothing" track="studentskills.middlecontent.cardisoff">Esta tarjeta está apagada</div>
      <!-- Bottom Content -->
      <div class="card-content-bottom" track="studentskills.bottomcontent">
        <div class="card-content-control" track="studentskills.bottomcontent.checkboxcontainer">
          <div class="control-title" track="studentskills.bottomcontent.title">Estudiantes</div>
          <div class="horizontal-section" style="padding-top: 5px; padding-bottom: 5px;" track="studentskills.bottomcontent.checkboxcontainer">
            <paper-checkbox class="sf-student animated fadeIn" checked track="studentskills.bottomcontent.checkbox.This Student">Este estudiante</paper-checkbox>
            <paper-checkbox class="sf-similar animated fadeIn" checked track="studentskills.bottomcontent.checkbox.Similar Students">Estudiantes Similares</paper-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="help-info" track="studentskills.maincontainer.help">
      <iron-icon class="close-info" icon="icons:clear" track="studentskills.maincontainer.help"></iron-icon>
      <div class="help-info-container" track="studentskills.maincontainer.help">
        <div class="help-text ht-middle" track="studentskills.maincontainer.help">
          Muestra las habilidades de este estudiante dada su historia académica, también muestra una comparación con estudiantes en su misma promoción.
        </div>
        <div class="ht-bottom" style="color: white; font-size: 13px;" track="studentskills.maincontainer.help">
          [Click en cualquier parte para cerrar]
        </div>
      </div>
    </div>
  </paper-material>
</template>
