<template name="riskwidget">
  <div class="risk-content">
    <div class="risk-content-viz">
      <progress-bubble class="risk-bubble" value="{{risk}}">
        <div class="progress-title">{{risk}}</div>
        <div class="progress-subtitle">{{riskText}}</div>
        <div style="display: none">{{riskColor}}</div>
      </progress-bubble>
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Chance of Success</div>
      <iron-icon class="widget-title-icon" icon="icons:info"></iron-icon>
    </div>
    <div class="risk-slider slider-tray"></div>
  </div>
</template>
