<template name="riskwidget">
  <div class="risk-content">
    <div class="risk-content-viz">
      <input class="risk-knob" value="{{risk}}" data-bgColor="#eceff1" data-fgColor="#f0c336" data-width="140" data-thickness=".2" data-readOnly=true data-linecap="round">
    </div>
    <div class="widget-title">
      <div class="widget-title-text">Chance of Success</div>
      <iron-icon class="widget-title-icon" icon="icons:info"></iron-icon>
    </div>
    <div class="risk-slider slider-tray"></div>
  </div>
</template>
