<template name="historicalcard">
  <paper-material class="card-content historicalcard-paper" track="historicalrecords.maincontainer">
    <div class="chart-content hc-card-content" track="historicalrecords.maincontainer">
      <!-- Top Content -->
      <div class="card-content-top" track="historicalrecords.topcontent">
        <div class="card-content-top-text" track="historicalrecords.topcontent">
          <div class="card-title" track="historicalrecords.topcontent.title">
            <div class="card-title-text" track="historicalrecords.topcontent.title">Fuente de Datos</div>
            <iron-icon class="card-info" icon="icons:info" track="historicalrecords.topcontent.infoicon"></iron-icon>
          </div>
          {{#if isOn}}
          <div class="card-subtitle" track="historicalrecords.topcontent.subtitle"></div>
          {{/if}}
        </div>
      </div>
      <div class="card-settings-icon" track="historicalrecords.topcontent.togglebutton">
        <paper-toggle-button class="hc-toggle" checked track="historicalrecords.topcontent.togglebutton"></paper-toggle-button>
      </div>
      {{#if isOn}}
      <!-- Middle Content -->
      <div class="card-content-middle" style="margin-top: 40px;" track="historicalrecords.middlecontent">
        <div class="sg-chart-container" track="historicalrecords.middlecontent">
          <div class="sg-vertical-axis" style="left: -7px;" track="historicalrecords.middlecontent.verticalbar">
            <div class="sg-vertical-axis-title" track="historicalrecords.middlecontent.verticalbar">Estudiantes</div>
          </div>
          <div class="hc-svg-container" track="historicalrecords.middlecontent.chart">
            <svg id="area" class="svghistorical" track="historicalrecords.middlecontent.chart">
              <line class="animated fadeIn" x1="24"  x2="24"  y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="48"  x2="48"  y1="5" y2="173" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="72"  x2="72"  y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="96"  x2="96"  y1="5" y2="173" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="120" x2="120" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="144" x2="144" y1="5" y2="173" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="168" x2="168" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="192" x2="192" y1="5" y2="173" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="216" x2="216" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="240" x2="240" y1="5" y2="173" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="264" x2="264" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="288" x2="288" y1="5" y2="173" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="312" x2="312" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
              <line class="animated fadeIn" x1="335" x2="335" y1="5" y2="173" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3" track="historicalrecords.middlecontent.line"/>
            </svg>
          </div>
          <input class="historicalcardinput" type="text" id="selector" name="example_name" value="" style="display: none;" track="historicalrecords.middlecontent.chart"/>
        </div>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom" style="margin-top: 15px;" track="historicalrecords.bottomcontent">
        <div class="card-content-control" track="historicalrecords.bottomcontent">
          <div class="control-title" track="historicalrecords.bottomcontent.title">Predicción basada en</div>
          <div class="hc-horizontal-section" track="historicalrecords.bottomcontent.results">
            <div class="hc-students" track="historicalrecords.bottomcontent.students">{{students}} estudiantes en {{courses}} cursos</div>
            <div class="hc-fromto"   track="historicalrecords.bottomcontent.fromto">Desde {{from}} Hasta {{to}}</div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="card-content-middle" track="historicalrecords.middlecontent.cardisoff">
        <div class="cc-nothing animated fadeIn" style="background: none; height: 400px;" track="historicalrecords.middlecontent.cardisoff">
          <div class="cc-nothing-message" track="historicalrecords.middlecontent.cardisoff">Esta tarjeta esta apagada</div>
        </div>
      </div>
      {{/if}}
    </div>
    <div class="help-info" style="z-index: 100;" track="historicalrecords.maincontainer.help">
      <iron-icon class="close-info" icon="icons:clear" track="historicalrecords.maincontainer.help"></iron-icon>
      <div class="help-info-container" track="historicalrecords.maincontainer.help">
        <div class="help-text ht-middle" track="historicalrecords.maincontainer.help">
          Muestra la fuente de donde se extraen los datos históricos que se utilizan para estimar las posibilidades de éxito, esta medida se puede ajustar para mejorar la calidad de predicción utilizando sólo datos de los últimos años.
        </div>
        <div class="ht-bottom" style="color: white; font-size: 13px;" track="historicalrecords.maincontainer.help">
          [Click en cualquier parte para cerrar]
        </div>
      </div>
    </div>
  </paper-material>
</template>
