.irs-bar {
  background: rgba(236, 239, 241,0.5) !important;
  height: 171px !important;
  top:   -135px !important;
  border-radius: 8px !important;
  padding-left:  1px !important;
}

.irs-from {
  background: #D9AEBF !important;
}

.irs-to {
  background: #D9AEBF !important;
}

.irs-line {
  overflow: visible !important;
}

.irs-line-mid {
  left: -7px   !important;
  width: 365px !important;
  background: #D9AEBF !important;
  position:  absolute !important;
  border-radius: 5px  !important;
  overflow: visible   !important;
}

.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color: #b25d7e !important;
}

.irs-from, .irs-to, .irs-single {
  background: #b25d7e !important;
  z-index: 1 !important;
}

#area {
  overflow: inherit !important;
  fill: rgba(128, 125, 126, 0.22) !important;
}

.hc-svg-container {
  height: 135px;
  display: flex;
  justify-content: center;
}

.irs-min, .irs-max {
  visibility: hidden !important;
}

.hc-vertical-axis-title {
  left: 0;
  height: 85%;
  width:  5px;
  position:  absolute;
  transform: rotate(-90deg);
}

.irs-slider {
  width:  18px !important;
  height: 18px !important;
  top:    22px !important;
  background: #B25D7E !important;
  border-radius: 50%  !important;
  background-position: 0 -120px !important;
  box-shadow: 2px 2px 5px 0px rgba(66,66,66,0.5) !important;
}

.irs-line-right {
  display: none !important;
}

.hc-horizontal-section {
  background: #eceff1;
  border-radius:  5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.hc-students {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.hc-fromto {
  font-size: 13px;
  color: #9F9F9F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
