<template name="historicalcard">
  <paper-material class="card-content historicalcard-paper">
    <div class="chart-content hc-card-content">
      <!-- Top Content -->
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">
              Historical Data
            </div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          {{#if isOn}}
          <div class="card-subtitle">
            Strong Influence
          </div>
          {{/if}}
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <iron-icon class="settings-icon" icon="icons:settings"></iron-icon> -->
        <paper-toggle-button class="hc-toggle" checked></paper-toggle-button>
      </div>
      {{#if isOn}}
      <!-- Middle Content -->
      <div class="card-content-middle">
        <div class="sg-chart-container">
          <div class="sg-vertical-axis">
            <div class="sg-vertical-axis-title">Consistency</div>
          </div>
          <div class="hc-svg-container">
            <svg id="area">
              <line class="animated fadeIn" x1="0"   x2="0"   y1="15" y2="170" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="24"  x2="24"  y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="48"  x2="48"  y1="15" y2="170" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="72"  x2="72"  y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="96"  x2="96"  y1="15" y2="170"  stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="120" x2="120" y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="144" x2="144" y1="15" y2="170" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="168" x2="168" y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="192" x2="192" y1="15" y2="170" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="216" x2="216" y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="240" x2="240" y1="15" y2="170" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="264" x2="264" y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="288" x2="288" y1="15" y2="170" stroke="#9e9e9e" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="312" x2="312" y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
              <line class="animated fadeIn" x1="335" x2="335" y1="15" y2="170" stroke="#BDBDBD" stroke-width="1" stroke-dasharray="1,3"/>
            </svg>
          </div>
          <input type="text" id="selector" name="example_name" value="" style="display: none;"/>
        </div>
      </div>
      <!-- Bottom Content -->
      <div class="card-content-bottom">
        <div class="card-content-control0">
          <div class="control-title">Records</div>
          <div class="card-content-columns">
            <div>
              <paper-checkbox checked>Program</paper-checkbox>
              <paper-checkbox checked>Sylabus</paper-checkbox>
            </div>
            <div>
              <paper-checkbox checked>Evaluation</paper-checkbox>
              <paper-checkbox checked>Instructors</paper-checkbox>
            </div>
          </div>
        </div>
        <div class="card-content-control1">
          <div class="control-title">Compliance: <div class="control-subtitle">{{compliance}}</div></div>
          <paper-slider class="hc-paper-slider" pin snaps max="5" step="1" value="5"></paper-slider>
        </div>
        <div class="card-fullscreen-icon">
          <iron-icon icon="icons:fullscreen"></iron-icon>
        </div>
      </div>
      {{else}}
      <div class="card-content-middle">
        <div class="cc-nothing animated fadeIn" style="background: none; height: 400px;">
          <div class="cc-nothing-message">This Card is Turned Off</div>
        </div>
      </div>
      {{/if}}
    </div>
  </paper-material>
</template>
