<template name="missingcourses">
  <paper-material class="card-content missingcourses-paper">
    <div class="chart-content mc-card-content animated fadeIn">
      <!-- Top Content -->
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">Datos del Estudiante</div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">Sin Influencia en la Predicción</div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <paper-toggle-button class="mc-toggle"></paper-toggle-button> -->
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle mc-content-middle">
        <div class="mc-dataTable">
          {{> reactiveTable collection=selectedCourses settings=settings}}
        </div>
      </div>
      <!-- Middle Content -->
      <div class="card-content-bottom mc-content-bottom">
        <div class="card-content-control">
          <div class="control-title">Cursos</div>
          <div class="mc-selected-years">
            <paper-radio-group selected="all">
              <paper-radio-button name="all"    class="radio-pink">Todos</paper-radio-button>
              <paper-radio-button name="passed" class="radio-pink">Aprobados</paper-radio-button>
              <paper-radio-button name="failed" class="radio-pink">Reprobados</paper-radio-button>
              <paper-radio-button name="ntaken" class="radio-pink">Volver a Cursar</paper-radio-button>
            </paper-radio-group>
          </div>
        </div>
        <div class="card-content-control">
          <div class="control-title">Nivel Académico</div>
          <div class="mc-selected-years">
            <paper-radio-group selected="0">
              <paper-radio-button name="0" class="radio-pink">Todos</paper-radio-button>
              <paper-radio-button name="1" class="radio-pink">Primero </paper-radio-button>
              <paper-radio-button name="2" class="radio-pink">Segundo</paper-radio-button>
              <paper-radio-button name="3" class="radio-pink">Tercero (Actual)</paper-radio-button>
            </paper-radio-group>
          </div>
        </div>
      </div>
    </div>
  </paper-material>
</template>
