<template name="missingcourses">
  <paper-material class="card-content missingcourses-paper">
    <div class="chart-content mc-card-content animated fadeIn">
      <!-- Top Content -->
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">Datos del Estudiante</div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          <div class="card-subtitle">Sin Influencia en la predicción</div>
        </div>
      </div>
      <div class="card-settings-icon">
        <!-- <paper-toggle-button class="mc-toggle"></paper-toggle-button> -->
      </div>
      <!-- Middle Content -->
      <div class="card-content-middle mc-content-middle">
        <div class="mc-dataTable">
          {{> reactiveTable collection=selectedCourses settings=settings}}
        </div>
      </div>
      <!-- Middle Content -->
      <div class="card-content-bottom mc-content-bottom">
        <div class="card-content-control">
          <div class="control-title">Mostrar Cursos</div>
          <div class="mc-selected-years">
            <paper-radio-group selected="redo">
              <paper-radio-button name="all"    class="mc-all    radio-pink">Todos</paper-radio-button>
              <paper-radio-button name="redo"   class="mc-redo   radio-pink">Debe volver a cursar</paper-radio-button>
            </paper-radio-group>
          </div>
        </div>
        <div class="card-content-control">
          <div class="control-title">Año Académico</div>
          <div class="mc-selected-years">
            <paper-radio-group selected="0">
              <paper-radio-button name="0" class="mc-radio-all radio-pink">Todos</paper-radio-button>
              {{#each academicYears}}
              <paper-radio-button name="1" class="mc-radio-{{number}} mc-radio-level radio-pink">{{year}}</paper-radio-button>
              {{else}}
              {{/each}}
            </paper-radio-group>
          </div>
        </div>
      </div>
    </div>
  </paper-material>
</template>
