<template name="missingcourses">
  <paper-material class="card-content missingcourses-paper">
    <div class="chart-content gc-card-content">
      <!-- Top Content -->
      <div class="card-content-top">
        <div class="card-content-top-text">
          <div class="card-title">
            <div class="card-title-text">Student Courses</div>
            <iron-icon icon="icons:info"></iron-icon>
          </div>
          {{#if isOn}}
          <div class="card-subtitle">No Influence</div>
          {{/if}}
        </div>
      </div>
      <div class="card-settings-icon">
        <paper-toggle-button class="mc-toggle"></paper-toggle-button>
      </div>
      {{#if isOn}}
      <!-- Middle Content -->
      <div class="card-content-middle">
        <div class="mc-dataTable">
          {{> reactiveTable collection=passedCourses settings=settings}}
        </div>
      </div>
      {{else}}
      <div class="card-content-middle">
        <div class="cc-nothing animated fadeIn" style="background: none; height: 400px;">
          <div class="cc-nothing-message">This Card is Turned Off</div>
          <paper-progress class="progress-color mc-progress" indeterminate value="800" min="100" max="1000"></paper-progress>
        </div>
      </div>
      {{/if}}
    </div>
  </paper-material>
</template>
