.sc-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.sc-course {
  display: flex;
  padding: 2px;
  margin:  2px;
  font-size: 12px;
  background: #fafafa;
  cursor: pointer;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  justify-content: space-around;
  position: relative;
}

.sc-passed {
  border-left: 2px solid #27ae60;
}

.sc-failed {
  border-left: 2px solid #e74c3c;
}

.sc-name {
  font-size: 12px;
  max-width: 100px;
  color: #424242;
}

.sc-id {
  font-size: 11px;
  color: #9F9F9F;
}

.sc-year{
  font-size: 11px;
  color: #9F9F9F;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sc-courses-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  overflow-y:scroll;
  min-height: 258px;
  max-height: 258px;
  width: 100%;
  /*align-items: center;*/
}

.sc-course-counter {
  font-size: 13px;
  color: #424242;
}

.sc-chart-bottom-controls {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  align-items: center;

}

.sc-chart-bottom-button {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: center;
}

.sc-select-details {
  color: #9F9F9F;
  text-decoration: underline;
  cursor: pointer;
}

.sc-meta-right {
  text-align: right;
}

.mc-progress {
  margin-top: 10px;
  display: none;
}

.mc-content-bottom {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.mc-dataTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*height: 246px;*/
}

.mc-dataTable th {
  text-transform: capitalize;
  color: #9F9F9F;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  font-weight: normal;
  height: 28px;
}

.mc-dataTable .reactive-table-navigation input[type="text"]{
  border: none;
  background: transparent;
  color: #9F9F9F;
  pointer-events: none;
  cursor: default;
  user-select: none;
  width: 7px;
}


.mc-dataTable table {
  width: 100%;
  align-self: center;
  border: 1px solid #eee;
  height: 180px;
}

.mc-dataTable td {
  height: 28px;
  font-size: 13px;
  color: #424242;
  padding-left: 10px;
  padding-right: 10px;
}
.mc-dataTable td.grade {
  text-align: right;
}

.mc-dataTable td.year {
  text-align: right;
}

.mc-dataTable tr:hover {
  background: #eeeeee;
}

.mc-dataTable tr {
  border-bottom: 1px solid #eee;
}

.mc-dataTable .reactive-table-navigation {
  font-size: 12px;
  height: 28px;
  color: #9F9F9F;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-around;
}

.mc-dataTable .reactive-table-navigation .rows-per-page label span {
}

.mc-dataTable .reactive-table-navigation .rows-per-page label input {
}
.mc-dataTable .reactive-table-navigation .rows-per-page label {
  display: flex;
}
.mc-dataTable .reactive-table-navigation .rows-per-page label .rows-per-page-count {
  display: block;
}

.mc-dataTable .reactive-table-navigation .rows-per-page label .rows-per-page-label {
  display: block;
}

.mc-dataTable .clearfix {
  display: fle  x;
  align-content: center;
  justify-content: center;
  margin: 5px;
  font-size: 14px;
  width: 97%;
}

.mc-selected-years {
  font-size: 13px;
}

.mc-content-middle {
  display: none;
  flex-direction: column !important;
}

.mc-content-bottom paper-radio-group > * {
  padding: 6px;
}

.iron-selected .paper-tab {
  color: #424242;
}

.paper-tab {
  color: #8d8d8d;
}
